<section class="contact" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <i class="fa fa-4x fa-at"></i>
                <h2 class="section-heading">Contact</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5 text-center">
                <div class="service-box">
                <a href="https://twitter.com/{{ site.twitter_username }}">
                    <i class="fa fa-phone fa-2x"></i>
                    <h4>+82-070-4335-0361</h4>
                </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-5 text-center">
                <div class="service-box">
                <a href="mailto:{{ site.email }}">
                <i class="fa fa-fax fa-2x"></i>
                    <h4>+82-02-6954-2680</h4>
                </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-5 text-center">
                <div class="service-box">
                <a href="mailto:contact@meerkatgames.co.kr">
                <i class="fa fa-at fa-2x"></i>
                    <h4>contact@meerkatgames.co.kr</h4>
                </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-5 text-center">
                <div class="service-box">
                <a href="mailto:support@meerkatgames.co.kr">
                <i class="fa fa-question fa-2x"></i>
                    <h4>support@meerkatgames.co.kr</h4>
                </a>
                </div>
            </div>
        </div>
    </div>
        <p></p>

        
        <div style="width:100%; text-align:center;">
            <h4>판교 본사</h4>
            <h5>경기도 성남시 분당구 분당내곡로 117 알파돔타워4 4층 (주)미어캣게임즈</h5>
        </div>
        <div style="width:100%; text-align:center;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1584.9066541082352!2d127.11116065822789!3d37.39424712590817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzfCsDIzJzM5LjMiTiAxMjfCsDA2JzQ0LjEiRQ!5e0!3m2!1sko!2skr!4v1536204041954" width="80%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <p></p>
        <div style="width:100%; text-align:center;">
            <h4>강남 연구소</h4>
            <h5>서울특별시 서초구 서초대로 398 플래티넘타워 4층 408호 (주)미어캣게임즈</h5>
        </div>
        <div style="width:100%; text-align:center;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d791.3679619526448!2d127.02450182925278!3d37.49678799873819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzfCsDI5JzQ4LjQiTiAxMjfCsDAxJzMwLjIiRQ!5e0!3m2!1sko!2skr!4v1539573183504" width="80%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

</section>
