<section  class="info" id="info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <i class="fa fa-4x fa-at" style="text-shadow: 2px 2px 2px #595959;"></i>
                <h2 class="section-heading">Contact</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
  
   <div style="width:100%; text-align:center;">
   <div style="display:inline-block; width:100%;">
   <img src="img/section_divid_01.png"/>
   </div>
   </div>
   
    <div class="container">
        <div class="row">
          <!-- {% for i in site.data.company %}
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x {{ i.icon }} wow bounceIn text-primary"></i>
                  <h3>{{ i.title }}</h3>
                  <p class="text-muted">{{ i.description }}</p>
              </div>
          </div>
          {% endfor %} --> 

            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-3x fa-phone"></i>
                    <h4>+82-070-4335-0361</h4>                        
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-3x fa-fax"></i>
                    <h4>+82-02-6954-2680</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-3x fa-at"></i>
                    <a href="mailto:contact@meerkatgames.co.kr">
                    <h4>contact@meerkatgames.co.kr</h4>
                    </a>                    
                </div>
           </div>
           <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-3x fa-question"></i>
                    <a href="mailto:support@meerkatgames.co.kr">
                    <h4>support@meerkatgames.co.kr</h4>
                    </a>                    
                </div>
           </div>
        </div>
<p></p>
   <div style="width:100%; text-align:center;">
   <div style="display:inline-block; width:100%;">
   <img src="img/section_divid.png"/>
   </div>
   </div>        
    
    <div style="width:100%; text-align:center;">
            <h4>판교 스튜디오</h4>
            <h5>경기도 성남시 분당구 분당내곡로 117 알파돔타워4 4층</h5>
        </div>
        <div style="width:100%; text-align:center;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1584.9066541082352!2d127.11116065822789!3d37.39424712590817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzfCsDIzJzM5LjMiTiAxMjfCsDA2JzQ0LjEiRQ!5e0!3m2!1sko!2skr!4v1536204041954" width="80%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <p></p>
        <div style="width:100%; text-align:center;" id="gangnam">
            <h4>강남 </h4>
            <h5>서울특별시 서초구 서초대로 398 플래티넘타워 4층 408호</h5>
        </div>
        <div style="width:100%; text-align:center;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d791.3679619526448!2d127.02450182925278!3d37.49678799873819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzfCsDI5JzQ4LjQiTiAxMjfCsDAxJzMwLjIiRQ!5e0!3m2!1sko!2skr!4v1539573183504" width="80%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>    
        
    </div>
</section>
